{{!-- <div class="header">
<h1>Welcome to Resource Site</h1>
{{#link-to "self-esteem" class="button"}}
Self Esteem Page
{{/link-to}}

{{#link-to "cognitive-distortions" class="button"}}
Cognitive Distortions Page
{{/link-to}}</div> --}}
{{navigation-bar}}